# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../:\EVS_charging_pythoncode\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
